@keyframes animation-sort {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-preslide {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-preslide-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-slide {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-slide-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes animation-keepslidin {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-keepslidin-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}