.fade-in-up:nth-child( 2 ) { transition-delay: .2s }
.fade-in-up:nth-child( 3 ) { transition-delay: .2s }
.fade-in-up:nth-child( 4 ) { transition-delay: .2s }
.fade-in-up:nth-child( 5 ) { transition-delay: .2s }
.fade-in-up:nth-child( 6 ) { transition-delay: .2s }
.fade-in-up:nth-child( 7 ) { transition-delay: 0 }
.fade-in-up:nth-child( 8 ) { transition-delay: .2s }
.fade-in-up:nth-child( 9 ) { transition-delay: .2s }
.fade-in-up:nth-child( 10 ) { transition-delay: .2s }
.fade-in-up:nth-child( 11 ) { transition-delay: .2s }
.fade-in-up:nth-child( 12 ) { transition-delay: .2s }
.fade-in-up:nth-child( 13 ) { transition-delay: 0 }
.fade-in-up:nth-child( 14 ) { transition-delay: .2s }
.fade-in-up:nth-child( 15 ) { transition-delay: .2s }
.fade-in-up:nth-child( 16 ) { transition-delay: .2s }
.fade-in-up:nth-child( 17 ) { transition-delay: .2s }
.fade-in-up:nth-child( 18 ) { transition-delay: .2s }
.fade-in-up:nth-child( 19 ) { transition-delay: .2s }
.fade-in-up:nth-child( 20 ) { transition-delay: .2s }
.fade-in-up:nth-child( 21 ) { transition-delay: 0 }

.fade-in-scale-up:nth-child( 2 ) { transition-delay: .8s }
.fade-in-scale-up:nth-child( 3 ) { transition-delay: .4s }
.fade-in-scale-up:nth-child( 4 ) { transition-delay: .4s }
.fade-in-scale-up:nth-child( 5 ) { transition-delay: .2s }
.fade-in-scale-up:nth-child( 6 ) { transition-delay: .4s }


/* CAROUSEL STYLES */

.carousel-container .c2.active {
  animation-name: animation-fade;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.carousel-container .dot {
  position: relative;
  opacity: 0.5;
}
.carousel-container .dot:after {
  content: '•';
  font-size: 32px;
  color: #333;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-container .dot.active {
  opacity: 1;
  transition: all 0.32s ease;
}

.carousel-container:not(.new-slider) .anim-forward {
  z-index: 0 !important;
}
.new-slider .anim-forward {
  z-index: 0 !important;
  transform: translate(-100%, 0);
  animation-name: animation-preslide-back;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}
.new-slider .anim-forward.forward {
  animation-name: animation-preslide;
}

/*
.carousel-container .anim-forward * {
  pointer-events: none;
}
*/

.carousel-container:not(.new-slider) .anim-forward.active {
  z-index: 1 !important;
  animation-name: animation-sort;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}
.new-slider .anim-forward.active {
  z-index: 1 !important;
  animation-name: animation-slide-back;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}
.new-slider .anim-forward.forward.active {
  animation-name: animation-slide;
}
.new-slider .anim-forward.last {
  z-index: 1 !important;
  animation-name: animation-keepslidin-back;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}
.new-slider .anim-forward.forward.last {
  animation-name: animation-keepslidin;
}
.new-slider .anim-forward.fade, .new-slider .anim-forward.forward.fade {
  animation-name: animation-fade-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes animation-sort {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-preslide {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-preslide-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-slide {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-slide-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes animation-keepslidin {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes animation-keepslidin-back {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

blockquote:before {
  content: '“';
  margin-left: -10px;
}

blockquote:after {
  content: '”';
}