.w-tab-link.w--current {
	background: transparent;
}
.content-grid-2021 {
  grid-auto-columns: unset;
  grid-auto-rows: unset;
  grid-row-gap: unset;
  grid-template-columns: unset;
  -ms-grid-rows: unset;
  grid-template-rows: unset;
  grid-auto-flow: unset;
  /*grid-column-gap: unset;*/
}
.b3-2021.w-richtext p {
	margin: 0;
}

@media screen and (min-width: 1280px) {
	.carousel-container-2021 img {
	    width: 100%;
	}
}

a[href="/contact-thanksgiving"] {
  display: none;
}