.wander-resort-map {
    /* font-family: Arial; */
    padding: 25px;
}

.wander-resort-map ul, li {
    padding: 10px;
}

.wander-resort-map__container {
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #ccc;
}

.wander-resort-map__nav {
    position: absolute; 
    top: 0; 
    right: 0;
    padding: 15; 
    background: white;
}