/*
XS, S - 3:4 (portrait)
M - 4:3 (landscape)
L - 16:9 or 4:3
XL - 16:9
*/

.wrm {
    --color-offwhite: #EFEDEA;
    --color-winter: #35363B;
    --color-allseason: #efedea;
    --color-grass: #CFD6D4;
    --color-border: rgba(0, 0, 0, 0.1);
    
    font-family: Silka, Tahoma, sans-serif, Arial;
    font-weight: 100;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

    padding-top: 2rem;

    border-bottom: 1px solid var(--color-border);
}

.wrm__map-wrap {
    overflow: hidden;
    margin-top: 66px;
    aspect-ratio: 3 / 4;

    border: 1px solid var(--color-border);
    border-top: none;
}

/* 


MAP 


*/


#wander-resort-map {
    overflow: hidden;
    display: flex;
    flex: 1;
}

@media screen and (min-width: 768px) {
    .wrm__map-wrap {
        aspect-ratio: 4 / 3;
    }
}

@media screen and (min-width: 1024px) {
    .wrm__map-wrap {
        aspect-ratio: 16 / 9;
    }
}

@media screen and (min-width: 1280px) {
    #wander-resort-map {
        aspect-ratio: 16 / 9;
    }
}

.wrm h1, h2, h3 {
    font-weight: 100;
}

.wrm h3 {
    font-family: 'Silka';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #35363B;
}

.wrm p {
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    .wrm p {
        font-size: 16px;
        line-height: 32px;
    }
}

.wrm button {
    background-color: transparent;
    cursor: pointer;
}

.wrm__title {
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 40px;
}

.wrm__wrap {
    overflow: hidden;
    position: relative;
    background-color: inherit;
}

/* 

NAV 

*/

.wrm__nav {
    z-index: 3;
    overflow: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-allseason);
    padding: 0rem 0rem 1rem 0rem;
    
    font-size: 20px;

    border-bottom: 1px solid var(--color-border);
}

.wrm__nav .dropdown-content {
    height: 100%;
    max-height: 0px;
    transition: max-height .3s ease-in-out;
}

/* .wrm__nav .dropdown-content-inner {
    padding: 2rem 0 6rem 0;
} */

.wrm__nav input[type='checkbox'] {
    display: none;
}

.wrm__nav .nav-label {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    line-height: 140%;
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid var(--color-border);

    font-family: Silka;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 36px;
    line-height: 180%;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
}

.wrm__nav svg {
    margin-left: auto;
}

.wrm__nav .toggle:checked+.nav-label+.dropdown-content {
    max-height: 100vh;
    overflow-y: scroll;
}

.wrm__nav ul {
    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 0;

    column-gap: 10px;
    column-count: 1;
}

@media screen and (min-width: 768px) {
    .wrm__nav ul {
        column-count: 2;
    }
}

@media screen and (min-width: 1024px) {
    .wrm__nav ul {
        column-count: 3;
    }
}

@media screen and (min-width: 1280px) {
    /* .wrm__nav {
        padding: 2rem 2rem;
    } */

    .wrm__nav .nav-label {
        padding: 0 0 1rem 0;
        margin: 0;
    }

    .wrm__nav ul {
        column-count: 3;
    }
}

.wrm__nav li {
    list-style: none;
    background-color: inherit !important;
    cursor: pointer;
    line-height: 52px;
}
.wrm__nav li.active {
    color: black;
    font-weight: 600;
}

.wrm__btn-zoom {
    z-index: 1;
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 1rem;
}

/* MAP */

.wrm__svg-container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--color-offwhite);
    height: 100%;
    width: 100%;

    /* border: 1px solid rgba(0,0,0,0.1); */

    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-highlight: none;
}

.wrm__svg-container svg {
    position: absolute;
    cursor: pointer;
}

svg.wrm__map circle {
    pointer-events: auto;
}

/* Card */

.wrm__card {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    
    top: 50%;
    left: 0;
    right: 0;
    min-width: 300px;
    background-color: var(--color-allseason);

    margin: 2rem 1rem 1rem 1rem;
    padding: 1.5rem;

    opacity: 0;
    transform: translate3d(0, -40%, 0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    overflow-y: auto;
    box-shadow: 0px 6px 18px 6px rgba(0, 0, 0, 0.16);
}

.wrm__card.active {
    visibility: visible;
    z-index: 2;

    opacity: 1;
    transform: translate3d(0, -50%, 0);
    transition-delay: 1s;
}

@media screen and (min-width: 1280px) {
    .wrm__card.active {
        transition-delay: 0.5s;
    }
}

/* @media screen and (min-width: 420px) {
    .wrm__card {
        margin: 2rem 1rem 1rem 1rem;
    }
} */

@media screen and (min-width: 768px) {
    .wrm__card {
        top: 50%;
        right: 0;
        bottom: auto;
        left: auto;
        
        width: 33.333%;
        margin: 2rem;
        transform: translate3d(0, -40%, 0);
    }
    .wrm__card.active {
       transform: translate3d(0, -50%, 0);
       transition-delay: 0.8s;
    }
}

.wrm__card-content {
    position: relative;
}

.wrm__card-hero {
    position: relative;
}
.wrm__card-hero a {
    text-align: center;
}
.wrm__card-hero img {
    width: 100%;
}

.wrm__card-hero span {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-allseason);
    width: 65px;
    height: 65px;
    border-radius: 50%;

    font-family: Silka;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    line-height: 180%;
    letter-spacing: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrm__card p,
.wrm__card a {
    display: block;
}

.wrm__card a {
    cursor: pointer;
}

.wrm__card img {
    margin-top: 1rem;
}

.wrm__close {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.wrm__close svg line {
    transition: stroke 0.2s ease-out;
}

.wrm__close:hover svg line {
    transition: all 0.75s ease-out;
    stroke: #000;
}

/* MODAL */
@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrm__modal {
    z-index: 70000; /* header nav on webflow site is 60000 for some reason */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;

    display: flex;
    vertical-align: center;
    align-items: center;

    animation: fadeInFromNone 0.5s ease-out;
}

.wrm__modal-content {
    overflow: hidden;
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrm__modal-content .glide__slide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.wrm__modal-content .glide__slide-content p {
    padding: 20px 12%;
}

.wrm__modal-content .glide--carousel, .wrm__modal-content .glide__track {
    max-width: 100vw;
}

.wrm__modal-content .glide--carousel .glide__slide {
    align-self: flex-start;
}

.wrm__modal-content .glide--carousel button {
    background-color: transparent;
    height: 100%;
    width: 10%;
    top: 0;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-highlight: none;
}
@media screen and (min-width: 768px) {
    .wrm__modal-content .glide--carousel button {
        width: 20%;
    }
}
@media screen and (min-width: 1280px) {
    .wrm__modal-content .glide--carousel button {
        width: 22%;
    }
}

.wrm__modal-content .glide--carousel button svg {
    display: none;
}
.wrm__modal-content .glide--carousel .Glide-leftArrow {
    left: 0;
}
.wrm__modal-content .glide--carousel .Glide-rightArrow {
    right: 0;
}
.wrm__modal-content .glide__slide p {
	opacity: 0;
    transition: opacity 0.2s ease-in;
}
.wrm__modal-content .glide__slide img {
	width: 100%;
}
.wrm__modal-content .glide__slide--active p {
	opacity: 1;
}

/*

VIDEO

*/

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    height: 0;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 720px;
}

@media screen and (min-width: 1280px) {
    .video-responsive {
        height: 720px;
        padding-bottom: 0;
    }
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
